/* assets/css/reset.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  @font-face {
    font-family: 'Gilroy-Regular';
    src:  url('/public/assets/fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Gilroy-Medium';
    src: url('/public/assets/fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }


  @font-face {
    font-family: 'Gilroy-Bold';
    src: url('/public/assets/fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }


  @font-face {
    font-family: 'Aeonik-Regular';
    src:  url('/public/assets/fonts/Aeonik-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Aeonik-Medium';
    src: url('/public/assets/fonts/Aeonik-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }


  @font-face {
    font-family: 'Aeonik-Bold';
    src: url('/public/assets/fonts/Aeonik-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }

  html, body {
      overflow-x: hidden;
      width: 100%;
      max-width: 100vw;
      position: relative;
    background-color: #f2f4ef;
  }



  